<header class="home-header" id="top">
  <div class="home-shell home-header__inner">
    <a class="home-logo" href="/" aria-label="Ne2 Studio">
      <img class="home-logo__mark" src="/assets/img/homepage/logo-mark.svg" alt="" width="63" height="32">
      <img class="home-logo__text" src="/assets/img/homepage/logo-text.svg" alt="Ne2 Studio" width="79" height="23">
    </a>
    {{ if .IsHome }}
    <a class="home-header__button" href="#dos-disciplinas">Empezar historia</a>
    {{ end }}
  </div>
</header>
